<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
      <div class="docs-sidebar hidden-print affix-top" role="complementary">
        <ul class="nav docs-sidenav">
          <li<%= sidebar_current("docs-home") %>>
            <a href="/docs/providers/index.html">All Providers</a>
          </li>
  
          <li<%= sidebar_current("docs-vmworkstation-index") %>>
            <a href="/docs/providers/vmworkstation/index.html">VMware Workstation Provider</a>
          </li>
  
          <li<%= sidebar_current("docs-vmworkstation-data-source") %>>
            <a href="#">Data Sources</a>
            <ul class="nav nav-visible">
              <li<%= sidebar_current("docs-vmworkstation-data-source-datastore") %>>
                <a href="/docs/providers/vmworkstation/d/datastore.html">vmworkstation_datastore</a>
              </li>
              <li<%= sidebar_current("docs-vmworkstation-data-source-distributed-virtual-switch") %>>
                <a href="/docs/providers/vmworkstation/d/distributed_virtual_switch.html">vmworkstation_distributed_virtual_switch</a>
              </li>
              <li<%= sidebar_current("docs-vmworkstation-data-source-host") %>>
                <a href="/docs/providers/vmworkstation/d/host.html">vmworkstation_host</a>
              </li>
              <li<%= sidebar_current("docs-vmworkstation-data-source-network") %>>
                <a href="/docs/providers/vmworkstation/d/network.html">vmworkstation_network</a>
              </li>
              <li<%= sidebar_current("docs-vmworkstation-data-source-tag-data-source") %>>
                <a href="/docs/providers/vmworkstation/d/tag.html">vmworkstation_tag</a>
              </li>
              <li<%= sidebar_current("docs-vmworkstation-data-source-virtual-machine") %>>
                <a href="/docs/providers/vmworkstation/d/virtual_machine.html">vmworkstation_virtual_machine</a>
              </li>
              <li<%= sidebar_current("docs-vmworkstation-data-source-vmfs-disks") %>>
                <a href="/docs/providers/vmworkstation/d/vmfs_disks.html">vmworkstation_vmfs_disks</a>
              </li>
            </ul>
          </li>
  
          <li<%= sidebar_current("docs-vmworkstation-resource-admin") %>>
            <a href="#">Administration Resources</a>
            <ul class="nav nav-visible">
              <li<%= sidebar_current("docs-vmworkstation-resource-admin-license") %>>
                <a href="/docs/providers/vmworkstation/r/license.html">vmworkstation_license</a>
              </li>
            </ul>
          </li>
          
          <li<%= sidebar_current("docs-vmworkstation-resource-inventory") %>>
            <a href="#">Inventory Resources</a>
            <ul class="nav nav-visible">
              <li<%= sidebar_current("docs-vmworkstation-resource-inventory-custom-attribute") %>>
                <a href="/docs/providers/vmworkstation/r/custom_attribute.html">vmworkstation_custom_attribute</a>
              </li>
              <li<%= sidebar_current("docs-vmworkstation-resource-inventory-datacenter") %>>
                <a href="/docs/providers/vmworkstation/r/datacenter.html">vmworkstation_datacenter</a>
              </li>
              <li<%= sidebar_current("docs-vmworkstation-resource-inventory-folder") %>>
                <a href="/docs/providers/vmworkstation/r/folder.html">vmworkstation_folder</a>
              </li>
              <li<%= sidebar_current("docs-vmworkstation-resource-inventory-tag-resource") %>>
                <a href="/docs/providers/vmworkstation/r/tag.html">vmworkstation_tag</a>
              </li>
              <li<%= sidebar_current("docs-vmworkstation-resource-inventory-tag-category") %>>
                <a href="/docs/providers/vmworkstation/r/tag_category.html">vmworkstation_tag_category</a>
              </li>
            </ul>
          </li>
  
          <li<%= sidebar_current("docs-vmworkstation-resource-networking") %>>
            <a href="#">Networking Resources</a>
            <ul class="nav nav-visible">
              <li<%= sidebar_current("docs-vmworkstation-resource-networking-distributed-port-group") %>>
                <a href="/docs/providers/vmworkstation/r/distributed_port_group.html">vmworkstation_distributed_port_group</a>
              </li>
              <li<%= sidebar_current("docs-vmworkstation-resource-networking-distributed-virtual-switch") %>>
                <a href="/docs/providers/vmworkstation/r/distributed_virtual_switch.html">vmworkstation_distributed_virtual_switch</a>
              </li>
              <li<%= sidebar_current("docs-vmworkstation-resource-networking-host-port-group") %>>
                <a href="/docs/providers/vmworkstation/r/host_port_group.html">vmworkstation_host_port_group</a>
              </li>
              <li<%= sidebar_current("docs-vmworkstation-resource-networking-host-virtual-switch") %>>
                <a href="/docs/providers/vmworkstation/r/host_virtual_switch.html">vmworkstation_host_virtual_switch</a>
              </li>
            </ul>
          </li>
  
          <li<%= sidebar_current("docs-vmworkstation-resource-storage") %>>
            <a href="#">Storage Resources</a>
            <ul class="nav nav-visible">
              <li<%= sidebar_current("docs-vmworkstation-resource-storage-file") %>>
                <a href="/docs/providers/vmworkstation/r/file.html">vmworkstation_file</a>
              </li>
              <li<%= sidebar_current("docs-vmworkstation-resource-storage-nas-datastore") %>>
                <a href="/docs/providers/vmworkstation/r/nas_datastore.html">vmworkstation_nas_datastore</a>
              </li>
              <li<%= sidebar_current("docs-vmworkstation-resource-storage-vmfs-datastore") %>>
                <a href="/docs/providers/vmworkstation/r/vmfs_datastore.html">vmworkstation_vmfs_datastore</a>
              </li>
            </ul>
          </li>
  
          <li<%= sidebar_current("docs-vmworkstation-resource-vm") %>>
            <a href="#">Virtual Machine Resources</a>
            <ul class="nav nav-visible">
              <li<%= sidebar_current("docs-vmworkstation-resource-vm-virtual-disk") %>>
                <a href="/docs/providers/vmworkstation/r/virtual_disk.html">vmworkstation_virtual_disk</a>
              </li>
              <li<%= sidebar_current("docs-vmworkstation-resource-vm-virtual-machine-resource") %>>
                <a href="/docs/providers/vmworkstation/r/virtual_machine.html">vmworkstation_virtual_machine</a>
              </li>
              <li<%= sidebar_current("docs-vmworkstation-resource-vm-virtual-machine-snapshot") %>>
                <a href="/docs/providers/vmworkstation/r/virtual_machine_snapshot.html">vmworkstation_virtual_machine_snapshot</a>
              </li>
              <li<%= sidebar_current("docs-vmworkstation-resource-vm-vapp-container") %>>
                <a href="/docs/providers/vmworkstation/r/vapp_container.html">vmworkstation_vapp_container</a>
              </li>
              <li<%= sidebar_current("docs-vmworkstation-resource-vm-vapp-entity") %>>
                <a href="/docs/providers/vmworkstation/r/vapp_entity.html">vmworkstation_vapp_entity</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    <% end %>
    <%= yield %>
  <% end %>
  